<app-render-header _ngcontent-aus-c510="" class="ng-star-inserted">
    <app-header-pnrr class="ng-star-inserted">
        <header id="mainheader" class="it-header-wrapper it-header-sticky headerpnrr">
            <div class="it-nav-wrapper">
                <div class="it-header-center-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="it-header-center-content-wrapper">
                                    <div class="it-brand-wrapper">
                                        <a href="/global">
                                            <img alt="GJD" src="/global/upid.png" style="height: 82px; border-radius: 50px;">
                                            <div class="it-brand-text">
                                                <div class="it-brand-title">UPID</div>
                                                <div class="it-brand-tagline d-none d-md-block">2025</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="it-header-navbar-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Navigazione principale" class="navbar navbar-expand-lg has-megamenu">
                                <button type="button" aria-controls="navC1" aria-expanded="false" 
                                        aria-label="Mostra/Nascondi la navigazione" 
                                        data-bs-target="#navC1" class="custom-navbar-toggler">
                                    <svg aria-label="Mostra/Nascondi la navigazione" class="icon">
                                        <use href="assets/bootstrap-italia/svg/sprite.svg#it-burger"></use>
                                    </svg>
                                </button>
                                <div id="navC1" class="navbar-collapsable">
                                    <div class="overlay"></div>
                                    <div class="close-div">
                                        <div type="button" class="btn close-menu">
                                            <span class="visually-hidden">Nascondi la navigazione</span>
                                            <svg aria-label="chiudi" class="icon icon-white">
                                                <use href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="menu-wrapper">
                                        <ul data-element="main-navigation" class="navbar-nav">
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down0">
                                                <a routerlinkactive="active" class="nav-link ps-0 ng-star-inserted" 
                                                   data-element="management" href="/trasparenza/">
                                                    <span>Trasparenza</span>
                                                </a>
                                            </li>
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down1">
                                                <a routerlinkactive="active" class="nav-link ng-star-inserted" 
                                                   data-element="news" href="/persone/gabriel-jones/">
                                                    <span>Gabriel Jones</span>
                                                </a>
                                            </li>
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down2">
                                                <a class="nav-link ng-star-inserted" href="/servizi/" data-element="all-services">
                                                    <span>Servizi</span>
                                                </a>
                                            </li>
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down3">
                                                <a routerlinkactive="active" class="nav-link ng-star-inserted" 
                                                   data-element="live" href="/risorse-online/">
                                                    <span>Risorse online</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="navbar-nav" style="justify-content: flex-end;">
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down_right0">
                                                <a class="nav-link ps-0 ng-star-inserted" target="_self" href="/mailbox/"> MailBox </a>
                                            </li>
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down_right1">
                                                <a class="nav-link ng-star-inserted" target="_self" href="/documenti/">
                                                    Documenti
                                                </a>
                                            </li>
                                            <li class="nav-item ng-star-inserted" id="menu_drop_down_right2">
                                                <a class="nav-link ng-star-inserted" target="_self" href="/comunita/">
                                                    Comunità
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </app-header-pnrr>
</app-render-header>



  <div class="overlay_loader" id="overlay_loader">
    <div class="wrapper">
      <div class="ball1 ball"></div>
      <div class="ball2 ball"></div>  
      <div class="ball3 ball"></div>  
      <div class="ball4 ball"></div>  
    </div>
  </div>
  <script>
    function fromEntries(entries){
      var res = {};
      for(var i = 0; i < entries.length; i++) res[entries[i][0]] = entries[i][1];
      return res;
    }
    if(!Object.fromEntries) Object.fromEntries = fromEntries;
    if (!Object.entries)
    Object.entries = function( obj ){
      var ownProps = Object.keys( obj ),
          i = ownProps.length,
          resArray = new Array(i); // preallocate the Array
      while (i--)
        resArray[i] = [ownProps[i], obj[ownProps[i]]];

      return resArray;
    };
    if(!Array.prototype.includes){
      //or use Object.defineProperty
      Array.prototype.includes = function(search){
        return !!~this.indexOf(search);
      }
    }
    if(!Array.prototype.indexOf){
    Array.prototype.indexOf = (function(Object, max, min){
      return function indexOf(member, fromIndex) {
        if(this===null||this===undefined)throw TypeError("Array.prototype.indexOf called on null or undefined");
        var that = Object(this), Len = that.length >>> 0, i = min(fromIndex | 0, Len);
        if (i < 0) i = max(0, Len+i); else if (i >= Len) return -1;

        if(member===void 0){ for(; i !== Len; ++i) if(that[i]===void 0 && i in that) return i; // undefined
        }else if(member !== member){   for(; i !== Len; ++i) if(that[i] !== that[i]) return i; // NaN
        }else                           for(; i !== Len; ++i) if(that[i] === member) return i; // all else

        return -1; // if the value was not found, then return -1
      };
    })(Object, Math.max, Math.min);
    }

    if (window.location.href.indexOf("index.php") > -1) {//se contiene index.php rimando alla home
      console.log(window.location.origin)
      if(window.location.href!=window.location.origin){
        window.location.href = window.location.origin
      }
    }
    if(window.navigator && navigator.serviceWorker) {
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
        for(let registration of registrations) {
          registration.unregister()
        }
      })
    }
  </script>

  
<script src="https://comune.porcia.it/runtime.6002b7f642e71ecf.js" type="module"></script>
<script src="https://comune.porcia.it/polyfills.dc60edd5de103f4b.js" type="module"></script>
<script src="https://comune.porcia.it/scripts.6703055226cd4ae8.js" defer></script>
<script src="https://comune.porcia.it/main.03f4d85b6817be23.js" type="module"></script>

  <script>
  var complete = false;
  document.onreadystatechange = function () {
    if (document.readyState == "complete") {
      complete = true;
      document.getElementById("mostraricarica").style.display = 'none';
      document.getElementById("overlay_loader").style.display = 'none';

    }
  }  
  setTimeout(function(){
    if(complete==false){
      document.getElementById("mostraricarica").style.display = 'block';
    }
  }, 28000);

  if ('caches' in window) {
    caches.keys()
      .then(function(keyList) {
          return Promise.all(keyList.map(function(key) {
              return caches.delete(key);
          }));
      })
  }
  if(window.navigator && navigator.serviceWorker) {
    navigator.serviceWorker.getRegistrations()
    .then(function(registrations) {
      for(let registration of registrations) {
        registration.unregister();
      }
    });
  }
  /*if(document.getElementById('appStyle')){
    addvstyle = document.getElementById('appStyle').href
    addvstyle = addvstyle + "?v=" + Math.random();
    document.getElementById('appStyle').href = addvstyle
  }*/
  </script>
