<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="https://upid.it/">UPID</a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                <span>UPID</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
              <div class="link-list-wrapper collapse" id="menu1">
                <ul class="link-list">
                  <li><a href="/persone/gjones/">Gabriel Jones</a></li>
                  <li><a href="/team/">Team</a></li>
                  <li><a href="/contatti/">Contatti</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-4 header-utils-wrapper">
              <div class="header-utils">
                <button type="button" class="icon-text" data-toggle="modal" data-target="#access-modal">
                  <li><a class="mr-2" href="https://accounts.zoho.eu/signin">Accedi</a></li>
                  <div class="icon-wrapper">
                    <svg class="svg-user">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-user"></use>
                    </svg>
                </div></button>
              </div><!-- /header-utils -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
