<div id="pre-header" class="it-header-slim-wrapper">
        <div class="container">
          <div class="row variable-gutters">
            <div class="col-8">
              <a href="https://upid.it/" target="_blank"><strong>UPID</strong></a>
            </div><!-- /col-6 -->
                  <a class="btn btn-primary btn-icon btn-full" href="https://accounts.zoho.eu/signin" data-element="personal-area-login">
                            <span class="rounded-icon" aria-hidden="true">
                              <svg class="icon icon-primary">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                              </svg>
                            </span>
                            <span class="d-none d-lg-block">Accedi all'area personale</span>
                          </a>

          </div><!-- /row -->
        </div><!-- /container -->
      </div>
