<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="https://upid.it/">UPID</a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                <span>UPID</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
              <div class="link-list-wrapper collapse" id="menu1">
                <ul class="link-list">
                  <li><a href="/persone/gjones/">Gabriel Jones</a></li>
                  <li><a href="/team/">Team</a></li>
                  <li><a href="/contatti/">Contatti</a></li>
                </ul>
              </div>
            </nav>
          </div>















          <div class="col-4 header-utils-wrapper">
              <div class="header-utils">
                <button type="button" class="icon-text" data-toggle="modal" data-target="#access-modal">
                  <span class="mr-2">Accedi</span>
                  <div class="icon-wrapper">
                    <svg class="svg-user">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-user"></use>
                    </svg>
                </div></button>
              </div><!-- /header-utils -->
            </div>




        
        </div>
      </div>
    </div>
  </div>
</div>













<div class="modal fade show" id="access-modal" tabindex="-1" role="dialog" aria-labelledby="accessModal" aria-modal="true" data-focus-mouse="false" style="padding-right: 17px; display: block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content perfect-scrollbar ps-container ps-theme-default" data-ps-id="3523b87f-be5e-f20e-f410-9b0be2743982">
          <div class="modal-body">
            <form class="access-main-wrapper">
              <div class="container">
                <div class="row variable-gutters mb-0 mb-lg-4 mb-xl-5">
                  <div class="col">
                    <h2 class="d-inline" id="accessModal">
                      Accedi ai servizi
                    </h2>
                    <button type="button" class="close dismiss" data-dismiss="modal" aria-label="Chiudi">
                      <svg class="svg-cancel-large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cancel-large"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="row variable-gutters justify-content-center pt-4 pt-xl-5">
                  <div class="col-lg-4">
                    <p class="text-intro">Da qui puoi accedere ai diversi servizi della scuola che richiedono
                      un'autenticazione personale.</p>
                    <div class="access-buttons">
                      <a class="btn btn-petrol btn-block btn-lg rounded mb-3" href="#">Registro insegnanti</a>
                      <a class="btn btn-petrol btn-block btn-lg rounded mb-3" href="#">Registro genitori</a>
                    </div>
                  </div>
                  <div class="col-lg-4 offset-lg-2 access-mobile-bg">
                    <div class="access-login">
                      <h3>Personale scolastico</h3>
                      <p class="text-large">Entra nel sito della scuola con le tue credenziali per gestire contenuti,
                        visualizzare circolari e altre funzionalità.</p>
                      <div class="access-login-form">
                        <div class="form-group">
                          <label for="email" class="active" style="transition: none;">Email address</label>
                          <input id="email" type="email" class="form-control" placeholder="La tua email">
                        </div>
                        <div class="form-group mb-3">
                          <label for="password" class="active" style="transition: none;">Password</label>
                          <input id="password" type="password" class="form-control" placeholder="Password">
                        </div>

                        <div class="row variable-gutters mb-4">
                          <div class="col text-right text-underline">
                            <p><a href="#">Password dimenticata?</a></p>
                          </div>
                        </div>

                        <div class="row variable-gutters">
                          <div class="col-lg-6 mb-4">
                            <div class="form-check form-check-inline">
                              <input id="checkbox-reminder" type="checkbox">
                              <label for="checkbox-reminder">Ricordami</label>
                            </div>
                          </div>
                          <div class="col-lg-6 mb-4">
                            <button type="submit" class="btn btn-white btn-block rounded" name="login" value="Accedi">Accedi</button>
                          </div>
                        </div>

                        <div class="row variable-gutters">
                          <div class="col text-center">
                            <p>Non hai un account? <a href="#" class="text-underline">Iscriviti</a></p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
      </div>
    </div>
