---
layout: default
---

{{ content }}

<section class="section bg-white resource-section py-5">
  <div class="container">
    <div class="row variable-gutters">
      <div class="col-lg-4">
        <div class="h6 mb-3">Progetti</div>
        <h2 class="text-large mb-4 pr-4">Esplora tutti i progetti promossi da UPID</h2>
        <a class="btn btn-sm btn-outline-bluelectric" href="https://project.online.upid.it">Vai alla pagina</a>
      </div><!-- /col-lg-4 -->
      <div class="col-lg-8">
        <div class="row variable-gutters pt-5">
          {% assign ultimo_progetto = site.data.progetti | sort: 'data' | last %}
          
          <div class="col-lg-6">
            <div class="card card-bg card-icon-main rounded mb-3">
              <a href="{{ ultimo_progetto.link }}">
                <div class="card-body">
                  <svg class="icon icon-bluelectric svg-books">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-books"></use>
                  </svg>
                  <div class="card-icon-content d-flex justify-content-center">
                    <p class="mb-0"><strong>{{ ultimo_progetto.titolo }}</strong></p>
                    <p>{{ ultimo_progetto.descrizione }}</p>
                  </div><!-- /card-icon-content -->
                </div><!-- /card-body -->
              </a>
            </div><!-- /card -->
          </div><!-- /col-lg-6 -->
        </div><!-- /row -->
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>
